html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.625;
	font-size: 16px;
	color: #263238;
	font-family: 'Roboto Slab', serif;
	-webkit-font-smoothing: antialiased;

}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *:before, *:after {
	box-sizing: border-box;
}
img {
	vertical-align: middle;
	max-width: 100%;
}
p {
	margin: 0 0 10px;
}

.flex {
	display: flex;
	margin: 10px 5px 32px -13px;
}
.flex .middle {
	align-items: center;
}
.flex .flex--1 {
	flex: 1;
}

/* Global Layout */
/* .wrapper {
	max-width: 1170px;
	width: 100%;
	margin: auto;
	border: 1px solid #eee;
	
} */
.border{
	width: 5%;
	background: #088ecc;
}
.sidebar {
	width: 30%;

	color: black;
}
.content {
	width: 65%;
	padding: 22px;
}
/* Avatar */
.avatar {
	text-align: center;
	padding: 60px 0;
	background:white;
}
.avatar img {
	border-radius: 50%;
	border: 5px solid rgba(255, 255, 255, .1);
}
.avatar h1 {
	font-size: 32px;
	/* text-transform: uppercase; */
	margin: 25px 0 0;
	line-height: 1;
	font-weight: 700;
}
.avatar h4 {
	font-size: 22px;
	font-family: system-ui;
	color:#088ecc;
	font-weight: 700;
}

/* Module */
.sidebar .module {
	/* padding: 0 45px; */
	margin-top: 50px;
}
.sidebar .module:last-child {
	margin-bottom: 50px;
}
.module__content{
	
	width: 100%;
	display: flex;
}
.module_time{
	float: right;
	position: relative;
    bottom: 25px;
	color: rgb(202, 193, 193);
}
#module__content{
	padding: 0 23px;
	font-size: larger;
}

.module__title {
	font-size: 33px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	background-color: #667f8b;
	color: black;
	width: 75%;
	border-top-right-radius: 70px;
	border-bottom-right-radius: 70px;
}
.tilte_name{
	margin-left: 20px;
}

/* Section */
.section:not(.last-child) {
	margin-bottom: 50px;
}
.section__title {
	font-size: 33px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	background-color: #667f8b;
	color: black;
	width: 103%;
	border-top-left-radius: 70px;
	border-bottom-left-radius: 70px;
}
.title_section{
	margin-left: 20px;
}
.section__content {
	padding-left: 24px;
}
.content .module:not(:first-child) {
	margin-top: 50px;
}
.content .module__title {
	margin-bottom: 0;
}



/* Helper Class */







.content_left{
	width: 50%;
}
.content_right{
	width: 50%;
}

/* .module__meta {
	font-size: 14px;
	color: #90a4ae;
	margin-bottom: 20px;
} */
.smallTittle{
	font-weight: 600;
	margin-left: -19px;
    font-size: 22px;
}
.module_smallTitle{
	font-size: 26px;
	color:#088ecc;
	font-weight: 600;
	/* position: relative; */

}
.module__meta{
	position: relative;
}

.module__meta i {
	margin-right: 10px;
}
.module__meta span {
	margin-right: 20px;
}
.module__title .circle {
	margin-right: 10px;
}
#disc{
	list-style-type: disc;
}
.icon{
	margin: 15px 20px;
	text-align: center;
}
.icon_content{
	margin-top: 10px;
}
.circle {
	/* font-size: 4px; */
	color: #fff;
	background: #263238;
	border-radius: 30%;
	text-align: center;
	margin-right: 20px;
}
.circle.circle--large {
	width: 60px;
	height: 60px;
	line-height: 60px;
}
.circle.circle--medium {
	width: 42px;
	height: 42px;
	line-height: 42px;
}
.circle.circle--small {
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.circle.circle--white {
	background: #fff;
	color: #263238;
}
.flex span{
	font-weight: 600;
}

/* Progress bar */
.progress-bar,
.progress-bar span {
	height: 23px;
	background: rgb(223, 220, 220);
	display: block;
	margin-right: 30px;
}
.progress-bar span {
	background: #088ecc;
}
.module--progress li {
	margin-bottom: 20px;
}



/* Language */
.lang {
	justify-content: space-between;
}
.lang__content {
	text-align: center;
}
.lang__content h4 {
	text-transform: uppercase;
	margin-top: 15px;
}

/*--------------RESPONSIVE ELEMENTS-------------*/
/* @media all and (min-width: 602px) and (max-width: 800px) {
	.keySkills {
	-moz-column-count:1;
	-webkit-column-count:1;
	column-count:1;
	}

  .module {
		width: 90%;
	}

}
@media all and (max-width: 601px) {
	#cv {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}
	.module {
		width: 90%;
	}
	.contactDetails {
		float: none;
		width: 100%;
		text-align: left;
	}
	.tilte_name {
		margin-left: -2px;
		font-size: 1.25em;
	}
	.tilte_name, #module__content {
		float: none;
		width: 100%;
	}

} */
.title_skills{
	white-space: nowrap;
}

@media  (max-width: 750px) {
	.sidebar, .content{
		flex: 0 0 100%;
    	max-width: 100%;
	}
	.section__title{
		font-size: 25px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		background-color: #667f8b;
		color: black;
		width: 75%;
		border-top-right-radius: 70px;
		border-bottom-right-radius: 70px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	.content{
		padding: 0px;
	}
	.module__title {
		font-size: 25px;
	}
	.module_time{
		float: none;
		margin-top: 20px;
	}
	.flex .flex--1{
		height: 50px;
	}
	.title_skills{
		font-size: 14px;
	}
	
}
@media (max-width: 1023px) and (min-width: 740px){
	.wide{
		width: 100% !important; 
	}
	.module__title{
		font-size: 25px;
	}
	.section__title{
		font-size: 25px;
	}
	.module_smallTitle{
		font-size: 22px;
	}
}
